body {
    width: 90%;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;

}

form input[type="url"] {
    flex: 1;
}

.success, .error {
    position: absolute;
    top: 0;
    padding: .2em;
    color: #fff;
}

.success {
    background: green;
}

.error {
    background: red;
}

#info, #home {
    position: relative;
}
