<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <form action="">
            <input type="url" name="longUrl">
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(function() {
                var $form = $('form');
                var $input = $form.find('[name=longUrl]');
                $form.submit(function (e) {
                    e.preventDefault();

                    $.ajax({
                        type:'POST',
                        url:"{{ url('shortenUrl') }}",
                        data: {longUrl: $input.val()},
                        success:function(results){
                            console.log(results.shortUrl);
                        }
                    });
                });
            });

        </script>
    </body>
</html>
