<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Link Shortnr{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        {% endblock %}
    </head>
    <body>
    <h1><a href="/">Home</a></h1>
        {% block body %}
            <div id="home">
                {% for message in app.flashes('notice') %}
                    <div class="success msg">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="" class="info">
                    <input type="url" name="longUrl">
                    <input type="submit">
                </form>
            </div>
            <div id="info" class="info" style="display: none;"></div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(function() {

                    var $form = $('form');
                    var $input = $form.find('[name=longUrl]');

                    var $home = $('#home');
                    var $infoPage = $('#info');

                    $form.submit(function (e) {
                        e.preventDefault();

                        post().then(function (results) {
                            if (results.error) {
                                displayError(results.error);
                            } else {
                                displayLinkInfo(results);
                            }
                        }, function (e) {
                            displayError(e.statusText);
                        });

                    });

                    function post() {
                        return $.ajax({
                            type:'POST',
                            url:"{{ url('shortenUrl') }}",
                            data: {longUrl: $input.val()}
                        });
                    }

                    function displayLinkInfo(html) {
                        $('.msg').remove();
                        var successMsg = '<span class="success msg">Woohoo! Your short link is ready.</span>';
                        $infoPage.html(successMsg + html).toggle();
                        $home.toggle();
                    }

                    function displayError(msg) {
                        $('.msg').remove();
                        var errorMsg = '<span class="error msg">' + msg + '</span>';
                        $home.prepend(errorMsg);

                    }
                });

            </script>
        {% endblock %}

    </body>
</html>
